<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="favicon.png") }}"/>
  <title>StellwerkSim Inquiry &ndash; Fehler 503</title>
</head>
<body>
<h1>Fehler 503: Dienst vorübergehend nicht verfügbar</h1>
<p>
  StellwerkSim Inquiry ist vorübergehend nicht verfügbar, da der Dienst vor kurzem neugestartet wurde
  und derzeit noch der Aufbau der internen Datenbank läuft. In wenigen Minuten sollte die Seite aber wieder
  verfügbar sein. Probiere es dann noch einmal!
</p>
</body>
</html>
