{% macro page_controls() %}
  <p>
    {% if prev_pages|length > 0 %}
      {{ page_link(prev_pages[-1], "<") }}
      &nbsp;
      {{ page_controls_one_side(prev_pages) }}
    {% endif %}
    &nbsp;
    Seite {{ cur_page }}
    &nbsp;
    {% if next_pages|length > 0 %}
      {{ page_controls_one_side(next_pages) }}
      &nbsp;
      {{ page_link(next_pages[0], ">") }}
    {% endif %}
  </p>
{% endmacro -%}

{%- macro page_controls_one_side(pages) %}
  {% for page in pages[:5] %}
    {{ page_link(page, page) }}
  {% endfor %}
  {% if pages|length > 10 %}
    &hellip;
  {% endif %}
  {% for page in pages[5:][-5:] %}
    {{ page_link(page, page) }}
  {% endfor %}
{% endmacro -%}

{%- macro page_link(page, text) %}
  <a href="{{ url_for("index") ~ "?" ~ urlencode(search_params + [("page", page)]) }}">{{ text }}</a>
{% endmacro -%}


{%- macro stw_core_box(stw) %}
  <a href="{{ urljoin(sts_url, "anlagen.php?beta=on#stellwerk={}".format(stw.aid)) }}"
     target="_blank">{{ stw.name }}</a>
  <div class="stw-player-marker-wrapper">
    {{ stw_player_marker(stw, 1) }}
    {{ stw_player_marker(stw, 2) }}
  </div>
{% endmacro -%}

{%-macro stw_player_marker(stw, inst) %}
  {% set player = stw.occupant_at(inst) %}
  {% if player %}
    <div title="{{ player.name }} steuert Instanz {{ inst }} seit ungefähr {{ player.format_playing_duration() }}"
         class="stw-player-marker-occupied">{{ player.format_playing_duration(short=True) }}
    </div>
  {% else %}
    <div class="stw-player-marker-free"></div>
  {% endif %}
{% endmacro -%}


{%- macro stw_with_tooltip(stw, style) %}
  <div class="stw" style="{{ style }}">
    {{ stw_core_box(stw) }}
    <div class="stw-tooltip-wrapper">
      <div class="stw-tooltip">
        <div class="stw-tooltip-col-1">
          {% set screenshot_url = urljoin(sts_url, "shot/see_{}.jpeg".format(stw.aid)) %}
          <a href="{{ screenshot_url }}" target="_blank"
             title="Größeres Bild anzeigen">
            <noscript>
              <img src="{{ screenshot_url }}" alt="Screenshot des Stellwerks"/>
            </noscript>
          </a>
          {% if stw.latitude is not none and stw.longitude is not none %}
            <div class="stw-tooltip-map-placeholder" style="display: none;">
              {# As soon as the user activates the tooltip, an iframe with this source URL will be created. #}
              {% set zoom = 0.01 %}
              https://www.openstreetmap.org/export/embed.html?bbox={{ stw.longitude - zoom }}%2C{{ stw.latitude - zoom }}%2C{{ stw.longitude + zoom }}%2C{{ stw.latitude + zoom }}
            </div>
            <div class="stw-tooltip-map-links">
              Groß:
              <a href="https://www.openstreetmap.org/?lat={{ stw.latitude }}&lon={{ stw.longitude }}&zoom=15"
                 target="_blank">Straßenkarte</a>
              &ndash;
              <a href="https://www.openrailwaymap.org/?lat={{ stw.latitude }}&lon={{ stw.longitude }}&zoom=15&style=standard"
                 target="_blank">Gleiskarte</a>
            </div>
          {% endif %}
        </div>
        <div class="stw-tooltip-col-2">
          <div class="stw-tooltip-nums">
            <div>Schwierigkeitsgrad:</div>
            <div>Unterhaltungsfaktor:</div>
            <div>{{ stw.difficulty or "&ndash;"|safe }}</div>
            <div>{{ stw.entertainment or "&ndash;"|safe }}</div>
          </div>
          <div class="stw-tooltip-comment-wrapper">
            {% for comment in stw.comments %}
              <div class="stw-tooltip-comment">
                {{ comment.text }}
                <div>&nbsp;({{ comment.playing_duration ~ ", " if comment.playing_duration }}{{ comment.year }})</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="stw-tooltip-description">
          {{ stw.description }}
        </div>
      </div>
    </div>
  </div>
{% endmacro -%}


<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="fonts.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="stw.css") }}"/>
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="favicon.png") }}"/>
  <script src="{{ url_for("static", filename="script.js") }}"></script>
  <title>StellwerkSim Inquiry</title>
</head>
<body>

<header>
  <h1>StellwerkSim Inquiry</h1>
  <p>
    Die leistungsstarke Stellwerksuche für den
    <a href="{{ sts_url }}" target="_blank">StellwerkSim</a>.
  </p>
</header>

<main>
  <div class="form-wrapper">
    <form method="get">
      <div class="form-clsz" style="grid-area: clsz">
        {{ form.clustersize.label }}
        {{ form.clustersize }}
      </div>
      <div class="form-name" style="grid-area: name">
        {{ form.name.label }}
        {{ form.name }}
      </div>
      <div class="form-inst" style="grid-area: inst">
        {{ form.instance.label }}
        {{ form.instance }}
      </div>
      <div class="form-free" style="grid-area: free">
        {{ form.free() }}
        {{ form.free.label() }}
      </div>

      <div class="form-regions" style="grid-area: regions">
        {{ form.regions.label }}
        {{ form.regions }}
      </div>

      <div class="form-sort" style="grid-area: sort">
        <span>Sortierung</span>
        <div>
          {{ form.sortby1.label(style="grid-area: label-1") }}
          {{ form.sortby2.label(style="grid-area: label-2") }}
          {{ form.sortby3.label(style="grid-area: label-3") }}
          {{ form.sortby1(style="grid-area: field-1") }}
          {{ form.sortby2(style="grid-area: field-2") }}
          {{ form.sortby3(style="grid-area: field-3") }}
        </div>
      </div>

      {{ form.submit(style="grid-area: submit") }}
    </form>
  </div>

  {% if n_total_rows != rows|length %}
    {{ page_controls() }}
    <p>
      Es werden Ergebnisse {{ rows[0].Index + 1 }} bis {{ rows[-1].Index + 1 }}
      von insgesamt {{ n_total_rows }} Ergebnissen angezeigt.
    </p>
  {% else %}
    <p>Es werden alle {{ n_total_rows }} Ergebnisse angezeigt.</p>
  {% endif %}

  <table>
    <thead>
    <tr>
      {% set multi = cluster_size > 1 %}
      <th>Rang</th>
      <th>{{ "Cluster" if multi else "Stellwerk" }}</th>
      <th>Nachbarn</th>
      <th>Region</th>
      <th><abbr title="Direkte Übergabepunkte im Cluster{{ " (immer 0, da Clustergröße 1)" if not multi }}">
        {{ metric_col_labels["intra_handovers"] }}</abbr></th>
      <th><abbr title="Direkte Übergabepunkte mit Nachbarstellwerken">
        {{ metric_col_labels["nghbr_handovers"] }}</abbr></th>
      <th><abbr title="Nachbarstellwerke">
        {{ metric_col_labels["n_neighbors"] }}</abbr></th>
      <th><abbr title="{{ "Durchschnittlicher " if multi }}Schwierigkeitsgrad{{ " im Cluster" if multi }}">
        {{ metric_col_labels["difficulty"] }}</abbr></th>
      <th><abbr title="{{ "Durchschnittlicher " if multi }}Unterhaltungsfaktor{{ " im Cluster" if multi }}">
        {{ metric_col_labels["entertainment"] }}</abbr></th>
      <th><abbr
          title="Durchschnitt des {{ "durchschnittlichen " if multi }}Schwierigkeitsgrads und Unterhaltungsfaktors{{ " im Cluster" if multi }}">
        {{ metric_col_labels["difent"] }}</abbr></th>
      <th><abbr title="Häufigste Spielzeit der Kommentare{{ " für Stellwerke im Cluster" if multi }}">
        {{ metric_col_labels["mode_playing_duration"] }}</abbr></th>
      <th><abbr title="Instanzen, die die Suchanfrage am besten erfüllen">1|2</abbr></th>
      <th><abbr title="Belegte Nachbarstellwerke {{ "in Instanz {}".format(instance) if instance else "pro Instanz" }}">
        {{ metric_col_labels["nghbr_occupants"] }}</abbr></th>
      <th><abbr
          title="{{ 'Maximal b' if multi else 'B' }}elegte andere Stellwerke in {{ ("einer der Regionen des Clusters" if multi else "der Region des Stellwerks") }} {{ ("in Instanz {}".format(instance) if instance else "pro Instanz") }}">
        {{ metric_col_labels["region_occupants"] }}</abbr></th>
    </tr>
    </thead>
    <tbody>
    {% if cluster_size <= 3 %}
      {% set stw_container_dims = "width: 21em; height: 7em" %}
    {% elif cluster_size == 4 %}
      {% set stw_container_dims = "width: 24em; height: 8em" %}
    {% elif cluster_size == 5 %}
      {% set stw_container_dims = "width: 27em; height: 9em" %}
    {% else %}
      {% set stw_container_dims = "width: 30em; height: 10em" %}
    {% endif %}
    {% for row in rows %}
      <tr>
        <td>{{ row.Index + 1 }}</td>
        <td>
          {% set cluster = row.cluster %}
          {% if cluster_size == 1 %}
            {{ stw_with_tooltip(cluster|first) }}
          {% else %}
            <div class="stw-container" style="{{ stw_container_dims }}">
              <svg class="stw-background" viewBox="-5 -3 110 39" preserveAspectRatio="none">
                {% set coord_lookup = dict(zip(cluster, stw_coords)) %}
                {% for edge in row.intra_edges %}
                  {% set stw_1_x, stw_1_y = coord_lookup[edge.fst()] %}
                  {% set stw_2_x, stw_2_y = coord_lookup[edge.snd()] %}
                  <line x1="{{ stw_1_x }}" y1="{{ stw_1_y / 3 }}" x2="{{ stw_2_x }}" y2="{{ stw_2_y / 3 }}"
                        stroke="{{ "#9466df" if edge.handover else "#000" }}"></line>
                {% endfor %}
              </svg>
              {% for stw, (x, y) in zip(cluster, stw_coords) %}
                <div class="stw-parent" style="left: {{ x }}%; top: {{ y }}%">
                  {{ stw_with_tooltip(stw, "transform: translate(-{}%, -{}%)".format(x, y)) }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </td>
        <td>
          <div class="neighbor-wrapper">
            {% for nghbr in row.neighbors %}
              <div class="stw">
                {{ stw_core_box(nghbr) }}
              </div>
            {% endfor %}
          </div>
        </td>
        <td>
          <ul>
            {% for region in row.regions %}
              <li><a href="{{ urljoin(sts_url, "anlagen.php?beta=on#region={}".format(region.rid)) }}" target="_blank">
                {{ region.name }}
              </a></li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ row.intra_handovers }}</td>
        <td>{{ row.nghbr_handovers }}</td>
        <td>{{ row.n_neighbors }}</td>
        <td>{{ "{:.2f}".format(row.difficulty) if not isnan(row.difficulty) else "&ndash;"|safe }}</td>
        <td>{{ "{:.2f}".format(row.entertainment) if not isnan(row.entertainment) else "&ndash;"|safe }}</td>
        <td>{{ "{:.2f}".format(row.difent) if not isnan(row.difent) else "&ndash;"|safe }}</td>
        <td>{{ row.mode_playing_duration if row.mode_playing_duration else "&ndash;"|safe }}</td>
        <td>{{ row.instance }}</td>
        <td>{{ row.nghbr_occupants }}</td>
        <td>{{ row.region_occupants }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if n_total_rows != rows|length %}
    {{ page_controls() }}
  {% endif %}
</main>

<footer>
  Mit ganz viel &hearts; gebaut von Felix Mujkanovic
  (<a href="https://loadingbyte.com/" target="_blank">LoadingByte</a>).<br/>
  Quellen sind verfügbar auf
  <a href="https://github.com/LoadingByte/sts-inquiry" target="_blank">GitHub</a>.
</footer>

</body>
</html>
