{% macro page_controls() %}
  <p>
    {% if prev_pages|length > 0 %}
      {{ page_link(prev_pages[-1], "<") }}
      &nbsp;
      {{ page_controls_one_side(prev_pages) }}
    {% endif %}
    &nbsp;
    Seite {{ cur_page }}
    &nbsp;
    {% if next_pages|length > 0 %}
      {{ page_controls_one_side(next_pages) }}
      &nbsp;
      {{ page_link(next_pages[0], ">") }}
    {% endif %}
  </p>
{% endmacro -%}

{%- macro page_controls_one_side(pages) %}
  {% for page in pages[:5] %}
    {{ page_link(page, page) }}
  {% endfor %}
  {% if pages|length > 10 %}
    &hellip;
  {% endif %}
  {% for page in pages[5:][-5:] %}
    {{ page_link(page, page) }}
  {% endfor %}
{% endmacro -%}

{%- macro page_link(page, text) %}
  <a href="{{ url_for("index") ~ "?" ~ urlencode(search_params + [("page", page)]) }}">{{ text }}</a>
{% endmacro -%}


{%- macro stw_core_box(stw) %}
  <a href="{{ urljoin(sts_url, "anlagen.php?beta=on#stellwerk={}".format(stw.aid)) }}"
     target="_blank">{{ stw.name }}</a>
  <div class="stw-player-marker-container">
    {{ stw_player_marker(stw, 1) }}
    {{ stw_player_marker(stw, 2) }}
  </div>
{% endmacro -%}

{%-macro stw_player_marker(stw, inst) %}
  {% set player = stw.occupant_at(inst) %}
  {% if player %}
    <div title="{{ player.name }} steuert Instanz {{ inst }} seit ungefähr {{ player.format_playing_duration() }}"
         class="stw-player-marker-occupied">{{ player.format_playing_duration(short=True) }}
    </div>
  {% else %}
    <div class="stw-player-marker-free"></div>
  {% endif %}
{% endmacro -%}


{%- macro stw_tooltip(stw) %}
  <div class="stw-tooltip flex-hor hor-gap-3-sep">
    <div class="flex-vert vert-gap-0-5">
      {% set screenshot_url = urljoin(sts_url, "shot/see_{}.jpeg".format(stw.aid)) %}
      <a href="{{ screenshot_url }}" target="_blank" title="Größeres Bild anzeigen" class="stw-tooltip-screenshot">
        <noscript>
          <img src="{{ screenshot_url }}" alt="Screenshot des Stellwerks"/>
        </noscript>
      </a>
      {% if stw.latitude is not none and stw.longitude is not none %}
        <div class="stw-tooltip-map-placeholder" style="display: none;">
          {# As soon as the user activates the tooltip, an iframe with this source URL will be created. #}
          {# It will have the class "stw-tooltip-map". #}
          {% set zoom = 0.01 %}
          https://www.openstreetmap.org/export/embed.html?bbox={{ stw.longitude - zoom }}%2C{{ stw.latitude - zoom }}%2C{{ stw.longitude + zoom }}%2C{{ stw.latitude + zoom }}
        </div>
        <div class="stw-tooltip-map-links">
          Groß:
          <a href="https://www.openstreetmap.org/?lat={{ stw.latitude }}&lon={{ stw.longitude }}&zoom=15"
             target="_blank">Straßenkarte</a>
          &ndash;
          <a href="https://www.openrailwaymap.org/?lat={{ stw.latitude }}&lon={{ stw.longitude }}&zoom=15&style=standard"
             target="_blank">Gleiskarte</a>
        </div>
      {% endif %}
    </div>
    <div class="flex-vert vert-gap-2">
      <div class="stw-tooltip-score-container">
        {{ stw_score_bar(stw.difficulty, "Schwierigkeitsgrad") }}
        {{ stw_score_bar(stw.entertainment, "Unterhaltungsfaktor") }}
      </div>
      <div class="stw-tooltip-comment-container">
        {% for comment in stw.comments %}
          <div class="stw-tooltip-comment">
            {{ comment.text }}
            <div>&nbsp;({{ comment.playing_duration ~ ", " if comment.playing_duration }}{{ comment.year }})</div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="stw-tooltip-description">
      {{ stw.description }}
    </div>
  </div>
{% endmacro -%}

{%- macro stw_score_bar(score, label) %}
  <div class="stw-tooltip-score-element">
    <div>{{ label }}</div>
    {% if score %}
      <div class="stw-tooltip-score-bar">
        {# Note: The -5 stems from the 5% indicator width defined in CSS. #}
        <div class="stw-tooltip-score-bar-indicator" style="left: {{ (score - 1) / 3 * (100 - 5) }}%"></div>
        <div class="stw-tooltip-score-bar-value">{{ "{:.2f}".format(score).replace(".", ",") }}</div>
      </div>
    {% else %}
      <div class="stw-tooltip-score-bar-replacement">
        &ndash;
      </div>
    {% endif %}
  </div>
{% endmacro -%}


{%- macro float_or_dash(val) %}
  {{ "{:.2f}".format(val).replace(".", ",") if not isnan(val) else "&ndash;"|safe }}
{% endmacro -%}


<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="fonts.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="generic.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="stw.css") }}"/>
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="favicon.png") }}"/>
  <script src="{{ url_for("static", filename="script.js") }}"></script>
  <title>StellwerkSim Inquiry</title>
</head>
<body>

<header>
  <h1>StellwerkSim Inquiry</h1>
  <p>
    Die leistungsstarke Stellwerksuche für den
    <a href="{{ sts_url }}" target="_blank">StellwerkSim</a>.
  </p>
</header>

<main>
  <div id="form-wrapper">
    <form method="get" class="flex-vert vert-gap-2">
      <div class="flex-hor hor-gap-4-sep">
        <div class="flex-vert vert-gap-1-2">
          <div class="flex-hor hor-gap-1">
            {{ form.clustersize.label }}
            {{ form.clustersize }}
          </div>
          <div class="flex-vert vert-gap-0-2">
            {{ form.name.label }}
            {{ form.name }}
          </div>
          <div class="flex-hor hor-gap-1">
            {{ form.instance.label }}
            {{ form.instance }}
          </div>
          <div class="flex-hor hor-gap-0-5">
            {{ form.free() }}
            {{ form.free.label() }}
          </div>
        </div>

        <div class="flex-vert vert-gap-0-5">
          {{ form.regions.label }}
          {{ form.regions }}
        </div>

        <div class="flex-vert vert-gap-0-5">
          <div>Sortierung</div>
          <div class="flex-vert vert-gap-0-5">
            <div class="flex-hor hor-gap-1">
              {{ form.sortby1.label }}
              {{ form.sortby1 }}
            </div>
            <div class="flex-hor hor-gap-1">
              {{ form.sortby2.label }}
              {{ form.sortby2 }}
            </div>
            <div class="flex-hor hor-gap-1">
              {{ form.sortby3.label }}
              {{ form.sortby3 }}
            </div>
          </div>
        </div>
      </div>

      {{ form.submit }}
    </form>
  </div>

  {% if n_total_rows != rows|length %}
    {{ page_controls() }}
    <p>
      Es werden Ergebnisse {{ rows[0].Index + 1 }} bis {{ rows[-1].Index + 1 }}
      von insgesamt {{ n_total_rows }} Ergebnissen angezeigt.
    </p>
  {% else %}
    <p>Es werden alle {{ n_total_rows }} Ergebnisse angezeigt.</p>
  {% endif %}

  <table>
    <thead>
    <tr>
      {% set multi = cluster_size > 1 %}
      {% set deac_style = ' style="color: #aaa"' if not multi %}
      {% macro th_metric(label, title, deac) %}
        <th>
          <abbr title="{{ title ~ (" (bei Clustergröße 1 irrelevant)" if not multi and deac) }}"
              {{ deac_style|safe if deac }}>
            {{ metric_col_labels[label] }}
          </abbr>
        </th>
      {% endmacro -%}

      <th>Rang</th>
      <th>{{ "Cluster" if multi else "Stellwerk" }}</th>
      <th>Nachbarn</th>
      {{ th_metric("intra_handovers", "Direkte Übergabepunkte im Cluster", true) }}
      {{ th_metric("nghbr_handovers", "Direkte Übergabepunkte mit Nachbarstellwerken") }}
      {{ th_metric("n_neighbors", "Nachbarstellwerke") }}
      {{ th_metric("mean_difficulty", ("Durchschnittlicher " if multi) ~ "Schwierigkeitsgrad" ~ (" im Cluster" if multi)) }}
      {{ th_metric("mean_entertainment", ("Durchschnittlicher " if multi) ~ "Unterhaltungsfaktor" ~ (" im Cluster" if multi)) }}
      {{ th_metric("mean_difent", "Durchschnitt " ~ ("der Durchschnitte " if multi) ~ "aus Schwierigkeitsgrad und Unterhaltungsfaktor" ~ (" im Cluster" if multi)) }}
      {{ th_metric("min_difficulty", "Minimaler Schwierigkeitsgrad im Cluster", true) }}
      {{ th_metric("min_entertainment", "Minimaler Unterhaltungsfaktor im Cluster", true) }}
      {{ th_metric("min_difent", "Minimum der Durchschnitte aus Schwierigkeitsgrad und Unterhaltungsfaktor im Cluster", true) }}
      <th><abbr title="Instanzen, die die Suchanfrage am besten erfüllen">1|2</abbr></th>
      {{ th_metric("nghbr_occupants", "Belegte Nachbarstellwerke " ~ ("in Instanz {}".format(instance) if instance else "pro Instanz")) }}
      {{ th_metric("region_occupants", ("Maximal b" if multi else "B") ~ "elegte andere Stellwerke in " ~ ("einer der Regionen des Clusters " if multi else "der Region des Stellwerks ") ~ ("in Instanz {}".format(instance) if instance else "pro Instanz")) }}
    </tr>
    </thead>
    <tbody>
    {%- if cluster_size <= 3 %}
      {% set stw_cont_height = 7 %}
    {% elif cluster_size == 4 %}
      {% set stw_cont_height = 8 %}
    {% elif cluster_size == 5 %}
      {% set stw_cont_height = 9 %}
    {% else %}
      {% set stw_cont_height = 10 %}
    {% endif -%}

    {%- set stw_cont_width = stw_cont_height * 3 -%}

    {%- if cluster_size == 2 %}
      {% set stw_cont_style = "margin-top: -1.5em; margin-bottom: -1.5em" %}
    {% endif -%}


    {%- if cluster_size == 1 %}
      {% set region_cont_max_width = 10 %}
    {% else %}
      {% set region_cont_max_width = stw_cont_width %}
    {% endif -%}

    {%- if cluster_size <= 3 %}
      {% set region_cont_margin = 0.8 %}
    {% else %}
      {% set region_cont_margin = 1.5 %}
    {% endif -%}

    {% for row in rows %}
      <tr>
        <td>{{ row.Index + 1 }}</td>
        <td>
          {% set cluster = row.cluster %}
          {% if cluster_size == 1 %}
            <div class="stw-container-single-stw">
              <div class="stw">
                {{ stw_core_box(cluster|first) }}
                {{ stw_tooltip(cluster|first) }}
              </div>
            </div>
          {% else %}
            <div class="stw-container-multi-stw"
                 style="width: {{ stw_cont_width }}em; height: {{ stw_cont_height }}em; {{ stw_cont_style }}">
              <svg class="stw-background" viewBox="-5 -3 110 39" preserveAspectRatio="none">
                {% set coord_lookup = dict(zip(cluster, stw_coords)) %}
                {% for edge in row.intra_edges %}
                  {% set stw_1_x, stw_1_y = coord_lookup[edge.fst()] %}
                  {% set stw_2_x, stw_2_y = coord_lookup[edge.snd()] %}
                  <line x1="{{ stw_1_x }}" y1="{{ stw_1_y / 3 }}" x2="{{ stw_2_x }}" y2="{{ stw_2_y / 3 }}"
                        stroke="{{ "#9466df" if edge.handover else "#000" }}"></line>
                {% endfor %}
              </svg>
              {% for stw, (x, y) in zip(cluster, stw_coords) %}
                <div class="stw-parent" style="left: {{ x }}%; top: {{ y }}%">
                  <div class="stw" style="transform: translate(-{{ x }}%, -{{ y }}%)">
                    {{ stw_core_box(stw) }}
                    {{ stw_tooltip(stw) }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="region-container"
               style="max-width: {{ region_cont_max_width }}em; margin-top: {{ region_cont_margin }}em">
            (
            {% for region in row.regions %}
              <a href="{{ urljoin(sts_url, "anlagen.php?beta=on#region={}".format(region.rid)) }}" target="_blank">
                {{ region.name }}</a>
              {{- "," if not loop.last }}
            {% endfor %}
            )
          </div>
        </td>
        <td>
          <div class="neighbor-container">
            {% for nghbr in row.neighbors %}
              <div class="stw">
                {{ stw_core_box(nghbr) }}
              </div>
            {% endfor %}
          </div>
        </td>
        <td{{ deac_style|safe }}>{{ row.intra_handovers }}</td>
        <td>{{ row.nghbr_handovers }}</td>
        <td>{{ row.n_neighbors }}</td>
        <td>{{ float_or_dash(row.mean_difficulty) }}</td>
        <td>{{ float_or_dash(row.mean_entertainment) }}</td>
        <td>{{ float_or_dash(row.mean_difent) }}</td>
        <td{{ deac_style|safe }}>{{ float_or_dash(row.min_difficulty) }}</td>
        <td{{ deac_style|safe }}>{{ float_or_dash(row.min_entertainment) }}</td>
        <td{{ deac_style|safe }}>{{ float_or_dash(row.min_difent) }}</td>
        <td>{{ row.instance }}</td>
        <td>{{ row.nghbr_occupants }}</td>
        <td>{{ row.region_occupants }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if n_total_rows != rows|length %}
    {{ page_controls() }}
  {% endif %}
</main>

<footer>
  Mit ganz viel &hearts; gebaut von Felix Mujkanovic
  (<a href="https://loadingbyte.com/" target="_blank">LoadingByte</a>).<br/>
  Quellen sind verfügbar auf
  <a href="https://github.com/LoadingByte/sts-inquiry" target="_blank">GitHub</a>.
</footer>

</body>
</html>
