.stw-container {
    position: relative;
    /* Width and height of this container will be set using inline styles depending on the cluster size. */
}

.stw-background {
    width: 100%;
    height: 100%;
}

.stw-parent {
    position: absolute;
    /* Without this, the parent could block mouse interactions with elements further right on the page. */
    visibility: hidden;
}

.stw {
    visibility: visible; /* reset the stw-parent's visibility. */
    position: relative; /* for the tooltip z-index */
    min-width: 3em; /* so that there is definitely enough space for the small duration text in the player markers */

    background-color: #ffe;
    border: 2px solid #7f7f7f;
    box-shadow: 0 0 2px #aaa;
}

.stw:hover {
    background-color: #ffd;
    box-shadow: inset 0 0 3px #777;
    z-index: 1; /* for the tooltip */
}

/* Stw name */
.stw > a {
    display: block;
    padding: 0.2em 0.3em 0.1em 0.3em;

    text-align: center; /* in case the surrounding box is wider than the text, bc. of min-width in .stw */
    white-space: nowrap;
    text-decoration: inherit; /* disable link underline */

    font-size: 0.9em;
    /* Narrower font */
    font-family: "Open Sans Condensed", "Helvetica Narrow", "Arial Narrow", "Open Sans",
    Helvetica, Arial, sans-serif;
}

.stw-player-marker-wrapper {
    display: flex;
    justify-content: space-between;
}

.stw-player-marker-free, .stw-player-marker-occupied {
    width: 45%;
    height: 10px;
    border: 1px solid #ddd;
}

.stw-player-marker-occupied {
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    color: white;
    background-color: #cd00af;
    border-color: #cd00af;
}

.stw-tooltip-wrapper {
    /* Can't use display: none instead of visibility because Firefox destroys iframes when they become display: none. */
    visibility: hidden;

    position: absolute;
    left: -2px;

    background-color: #ffe;
    border: 2px solid #7f7f7f;
}

.stw:hover > .stw-tooltip-wrapper {
    visibility: visible;
}

.stw-tooltip {
    margin: 0.7em;
    font-size: 0.8em;

    /* Three column layout */
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: minmax(0, 30em);
    grid-gap: 1em;
}

/* These columns have multiple elements that stack vertically. */
.stw-tooltip-col-1, .stw-tooltip-col-2 {
    display: flex;
    flex-direction: column;
}

/* Tooltip column 1 */

.stw-tooltip-col-1 > *:not(:first-child) {
    margin-top: 0.5em;
}

.stw-tooltip-col-1 img {
    width: 100%;
}

.stw-tooltip-col-1 iframe {
    width: 100%;
    height: 100%;
    border: None;
}

.stw-tooltip-map-links {
    text-align: center;
}

/* Tooltip column 2 */

.stw-tooltip-nums {
    display: grid;
    grid-template: auto auto / min-content auto;
    grid-auto-flow: column;
    grid-gap: 0.5em 1em;

    margin-bottom: 2em;
}

.stw-tooltip-comment:not(:first-child) {
    margin-top: 0.8em;
}

/* Playing duration and year */
.stw-tooltip-comment > div {
    float: right;
    white-space: nowrap;
    color: #888;
}

/* Clear playing duration and year float */
.stw-tooltip-comment::after {
    display: block;
    clear: both;
    visibility: hidden;
    content: ".";
    height: 0;
}

/* Tooltip column 3 */

.stw-tooltip-description > p:first-child {
    margin-top: 0;
}

.stw-tooltip-description > p:last-child {
    margin-bottom: 0;
}

/* Scrollable wrappers in tooltip columns 2 and 3 */

.stw-tooltip-comment-wrapper, .stw-tooltip-description {
    height: 100%;
    overflow-y: auto; /* y scrolling */
    padding-right: 0.5em; /* padding between this and the scrollbar */
}
