.stw-container-single-stw {
    /* Center single stw */
    display: flex;
    justify-content: center;
}

.stw-container-multi-stw {
    position: relative;
    /* Width and height of this container will be set using inline styles depending on the cluster size. */
}

.stw-background {
    width: 100%;
    height: 100%;
}

.stw-parent {
    position: absolute;
    /* Without this, the parent could block mouse interactions with elements further right on the page. */
    visibility: hidden;
}

.stw {
    visibility: visible; /* reset the stw-parent's visibility. */
    position: relative; /* for the tooltip z-index */
    min-width: 3.5em; /* so that there is definitely enough space for the small duration text in the player markers */

    background-color: #ffe;
    border: 2px solid #7f7f7f;
    box-shadow: 0 0 2px #aaa;
}

.stw:hover, .stw.ie-hover {
    background-color: #ffd;
    box-shadow: inset 0 0 3px #777;
    z-index: 1; /* for the tooltip */
}

/* Stw name */
.stw > a {
    display: block;
    padding: 0.4em 0.35em 0.3em 0.35em;

    text-align: center; /* in case the surrounding box is wider than the text, bc. of min-width in .stw */
    white-space: nowrap;
    text-decoration: none; /* disable link underline */

    /* Narrower font */
    font-family: "D-DIN Condensed", "Open Sans Condensed", "Helvetica Narrow", "Arial Narrow", "Open Sans",
    Helvetica, Arial, sans-serif;
}

.stw-player-marker-container {
    display: flex;
    justify-content: space-between;
}

.stw-player-marker-free, .stw-player-marker-occupied {
    width: 44%;
    height: 10px;
    border: 1px solid #ddd;
}

.stw-player-marker-occupied {
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    text-align: center;
    color: white;
    background-color: #cd00af;
    border-color: #cd00af;
}

.stw-tooltip {
    /* Can't use display: none instead of visibility because Firefox destroys iframes when they become display: none. */
    visibility: hidden;

    position: absolute;
    left: -2px;

    padding: 1em;
    background-color: #ffe;
    border: inherit;
    font-size: 0.8em;
}

.stw:hover > .stw-tooltip, .stw.ie-hover > .stw-tooltip {
    visibility: visible;
}

.stw-tooltip > div {
    min-width: 22em; /* min-width instead of just width because IE is stupid */
    max-height: 30em;
}

/* Tooltip column 1 */

.stw-tooltip-screenshot {
    flex-shrink: 0; /* IE is stupid */
}

.stw-tooltip-screenshot img {
    width: 100%;
}

.stw-tooltip-map {
    width: 100%;
    height: 100%;
    border: None;
}

.stw-tooltip-map-links {
    text-align: center;
}

/* Tooltip column 2 */

.stw-tooltip-score-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stw-tooltip-score-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stw-tooltip-score-bar-replacement {
    margin-top: 0.7em;
}

/* Score bar */
.stw-tooltip-score-bar {
    position: relative;
    width: 9em;
    height: 2em;
    margin-top: 0.4em;

    border: 1px solid grey;
    background: linear-gradient(to right, #e6532e, #a6a621, #53e62e);
}

/* Vertical indicator inside score bar */
.stw-tooltip-score-bar-indicator {
    position: absolute;
    top: -12%;
    width: 5%;
    height: 124%;
    background: rgba(0, 0, 0, 0.6);
}

.stw-tooltip-score-bar-value {
    position: relative; /* put value in the same stacking context as indicator */
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);

}

.stw-tooltip-comment-container {
    height: 100%; /* disables scrollbar if there is enough vertical space */
}

.stw-tooltip-comment:not(:first-child) {
    margin-top: 0.8em;
}

/* Playing duration and year */
.stw-tooltip-comment > div {
    float: right;
    white-space: nowrap;
    color: #888;
}

/* Clear playing duration and year float */
.stw-tooltip-comment::after {
    display: block;
    clear: both;
    visibility: hidden;
    content: ".";
    height: 0;
}

/* Tooltip column 3 */

.stw-tooltip-description > p:first-child {
    margin-top: 0;
}

.stw-tooltip-description > p:last-child {
    margin-bottom: 0;
}

/* Scrollable wrappers in tooltip columns 2 and 3 */

.stw-tooltip-comment-container, .stw-tooltip-description {
    overflow-y: auto; /* y scrolling */
    padding-right: 1em; /* padding between this and the scrollbar */
}
