body {
    margin: 0;
    padding: 0 4vw;
    /* Even though Open Sans is embedded as a webfont, provide other sans-serif fonts as fallbacks. */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

/* Header */

header {
    margin: 1em 0 5em 0;
    text-align: center;
}

header * {
    margin: 0;
}

header h1 {
    font-size: 2.3em;
}

/* Form */

.form-wrapper {
    display: table; /* as small as possible */
    margin: auto; /* center */
}

form {
    display: grid;
    grid-gap: 1.2em 2em;
    /* @formatter:off */
    grid-template-areas:
        "clsz   regions sort"
        "name   regions sort"
        "inst   regions sort"
        "free   regions sort"
        "submit submit  submit";
    /* @formatter:on */

    /* Separator between this and the results */
    padding-bottom: 2em;
    border-bottom: 2px dotted #aaa;
    margin-bottom: 1.5em;
}

.form-clsz, .form-inst, .form-free {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.8em;
    white-space: nowrap;
}

.form-free {
    grid-gap: 0.5em;
}

.form-name, .form-regions, .form-sort {
    display: grid;
    grid-template-rows: min-content auto;
    grid-gap: 0.5em;
}

.form-name {
    grid-gap: 0.2em;
}

.form-regions > select {
    height: 100%;
}

.form-sort > div {
    display: grid;
    align-content: start;
    align-items: start;
    grid-gap: 0.5em 0.8em;
    /* @formatter:off */
    grid-template-areas:
        "label-1 field-1"
        "label-2 field-2"
        "label-3 field-3";
    /* @formatter:on */
}

/* Result count notice */
main > p {
    text-align: center;
}

/* Table */

table {
    margin: 2em auto 0 auto; /* center */

    /* For sticky table header */
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding: 1em 0.5em;
    background-color: white;
    border-bottom: 2px solid black;

    /* Sticky table header */
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Default padding for most columns */
td {
    padding: 1.5em 0.5em;
}

/* Rank column */
td:first-child {
    font-size: 2em;
    font-weight: bold;
    color: #aaa;
}

/* Rank column */
td:nth-child(1) {
    padding: 0 0.7em;
}

/* Cluster column */
td:nth-child(2) {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Neighbors and region columns */
td:nth-child(3), td:nth-child(4) {
    padding-left: 1em;
    padding-right: 1em;
}

/* Every column apart from the cluster one */
th:not(:nth-child(2)), td:not(:nth-child(2)) {
    text-align: center;
}

tbody tr:nth-child(2n + 1) td {
    background-color: #f8f8f8;
}

tbody tr:not(:first-child) td {
    border-top: 2px solid #444;
}

th:not(:first-child), td:not(:first-child) {
    border-left: 2px dashed #ddd;
}

.neighbor-wrapper {
    max-width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neighbor-wrapper .stw {
    margin: 0.3em 0.5em; /* spacing between stws */
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Footer */

footer {
    margin-top: 5em;
    text-align: center;
}

footer, footer a {
    color: gray;
}
