body {
    margin: 0;
    padding: 0 4vw;
    /* Even though Open Sans is embedded as a webfont, provide other sans-serif fonts as fallbacks. */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

/* Header */

header {
    margin: 2em 0 5em 0;
    text-align: center;
}

header * {
    margin: 0;
}

header h1 {
    font-size: 2.3em;
}

/* Form */

#form-wrapper {
    display: flex;
    justify-content: center;
}

form {
    white-space: nowrap;

    /* Separator between this form and the results */
    padding-bottom: 2em;
    border-bottom: 2px dotted #aaa;
    margin-bottom: 1.5em;
}

input {
    /* We use this instead of width: 100%; to prevent inputs that are wider than the surrounding box. */
    box-sizing: border-box;
}

select {
    width: 100%;
}

#regions {
    max-height: 13em;
    padding-right: 1em; /* padding between this and the scrollbar */
    overflow-y: scroll;

    /* Reset default ul styling */
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    font-size: 0.8em;
    /* Default color for when checkbox is not checked */
    color: #4b0000;
}

/* Note that this selector only affects child lists, not the root list. */
#regions ul {
    padding-left: 1.5em;
    list-style-type: none;
}

#regions li {
    margin-top: 0.1em;
}

#regions input[type=checkbox] {
    margin: 0 0.5em 0 0;
    padding: 0;
    vertical-align: middle;
}

#regions input[type=checkbox]:checked ~ * {
    color: #004b00;
}

/* Pagination and result count notice */

main > p {
    text-align: center;
}

/* Table */

table {
    margin: 2em auto 0 auto; /* center */

    /* For sticky table header */
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding: 1em 0.5em;
    background-color: white;
    border-bottom: 2px solid black;

    /* Sticky table header */
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Default padding for most columns */
td {
    padding: 1.5em 0.5em;
}

/* Rank and cluster columns */
td:nth-child(1), td:nth-child(2) {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Cluster column */
td:nth-child(2) {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Neighbors column */
td:nth-child(3) {
    padding-left: 1em;
    padding-right: 1em;
}

/* Center the text in every column apart from the cluster and neighbor ones */
td:not(:nth-child(2)):not(:nth-child(3)) {
    text-align: center;
}

tbody tr:nth-child(2n + 1) td {
    background-color: #f8f8f8;
}

tbody tr:not(:first-child) td {
    border-top: 2px solid #444;
}

th:not(:first-child), td:not(:first-child) {
    border-left: 2px dashed #ddd;
}

.highlight-row td {
    background-color: #e8f5f8 !important;
}

.cluster-link {
    font-size: 2em;
    font-weight: bold;
    color: #bbb;
}

.region-wrapper {
    display: flex;
    justify-content: center;
}

.region-container {
    text-align: center;
    font-size: 0.9em;
    color: #999;

    padding: 0 0.6em 0.2em 0.6em;
    border: solid #ccc;
    border-width: 0 2px;

    /* @formatter:off */
    background-image:
        linear-gradient(#ccc, #ccc),
        linear-gradient(#ccc, #ccc),
        linear-gradient(#ccc, #ccc),
        linear-gradient(#ccc, #ccc);
    /* @formatter:on */

    background-repeat: no-repeat;
    background-size: 0.4em 2px;
    background-position: top left, top right, bottom left, bottom right;
}

.region-container a {
    color: #666;
}

.neighbor-container {
    max-width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neighbor-container .stw {
    margin: 0.3em 0.5em; /* spacing between stws */
}

/* Footer */

footer {
    margin-top: 5em;
    text-align: center;
}

footer, footer a {
    color: gray;
}
