body {
    margin: 0;
    padding: 0 4vw;
    /* Even though Open Sans is embedded as a webfont, provide other sans-serif fonts as fallbacks. */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

/* Header */

header {
    margin: 2em 0 5em 0;
    text-align: center;
}

header * {
    margin: 0;
}

header h1 {
    font-size: 2.3em;
}

/* Form */

#form-wrapper {
    display: table; /* as small as possible */
    margin: auto; /* center */
}

form {
    white-space: nowrap;

    /* Separator between this form and the results */
    padding-bottom: 2em;
    border-bottom: 2px dotted #aaa;
    margin-bottom: 1.5em;
}

input {
    /* We use this instead of width: 100%; to prevent inputs that are wider than the surrounding box. */
    box-sizing: border-box;
}

select {
    width: 100%;
}

select#regions {
    height: 100%;
}

/* Pagination and result count notice */

main > p {
    text-align: center;
}

/* Table */

table {
    margin: 2em auto 0 auto; /* center */

    /* For sticky table header */
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding: 1em 0.5em;
    background-color: white;
    border-bottom: 2px solid black;

    /* Sticky table header */
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Default padding for most columns */
td {
    padding: 1.5em 0.5em;
}

/* Rank column */
td:first-child {
    font-size: 2em;
    font-weight: bold;
    color: #aaa;
}

/* Rank column */
td:nth-child(1) {
    padding: 0 0.7em;
}

/* Cluster column */
td:nth-child(2) {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Neighbors and region columns */
td:nth-child(3), td:nth-child(4) {
    padding-left: 1em;
    padding-right: 1em;
}

/* Every column apart from the cluster one */
th:not(:nth-child(2)), td:not(:nth-child(2)) {
    text-align: center;
}

tbody tr:nth-child(2n + 1) td {
    background-color: #f8f8f8;
}

tbody tr:not(:first-child) td {
    border-top: 2px solid #444;
}

th:not(:first-child), td:not(:first-child) {
    border-left: 2px dashed #ddd;
}

.neighbor-wrapper {
    max-width: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.neighbor-wrapper .stw {
    margin: 0.3em 0.5em; /* spacing between stws */
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Footer */

footer {
    margin-top: 5em;
    text-align: center;
}

footer, footer a {
    color: gray;
}
